
.schedule-custom.e-schedule .e-vertical-view.e-week-view .e-work-cells,
.schedule-custom.e-schedule .e-vertical-view.e-week-view .e-date-header-wrap table col,
.schedule-custom.e-schedule .e-vertical-view.e-week-view .e-content-wrap table col {
    width: 300px;
}

.schedule-custom.e-schedule .e-vertical-view.e-work-week-view .e-work-cells,
.schedule-custom.e-schedule .e-vertical-view.e-work-week-view .e-date-header-wrap table col,
.schedule-custom.e-schedule .e-vertical-view.e-work-week-view .e-content-wrap table col {
    width: 250px;
}

.schedule-custom.e-schedule .e-month-view .e-work-cells,
.schedule-custom.e-schedule .e-month-view .e-date-header-wrap table col {
    width: 300px;
}
